
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.box{
    width: 95%;
    max-width: 400px;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
  background: linear-gradient(rgb(64, 145, 238), rgb(91, 223, 166));
    height: auto;
    max-height: 1500px;
   border: 5px solid red;
   border-radius: 20px;
   color: white;
   padding:10px;
   padding-bottom: 40px;



}

.search{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    
}

.search input{
    
    

margin-left: 10px;

    padding:  3px 20px;
   
    border-radius: 20px;
    color:rgb(72, 219, 214);
    flex: 1;
    font-size: 1.2rem;
    height: 40px;

}
.search button{
    padding: 2px;

    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;

}
.weathericon{
    margin: auto;
    margin-top: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tempset{
    display: flex;
    justify-content: center;
    align-items: center;

}
.temp {
    font-weight: bold;

font-family: 'Baloo Bhaina 2', sans-serif;
 margin: opx;
      font-size: 50px;
padding: 0px;

}
.cels{
    font-family: 'Baloo Bhaina 2', sans-serif;
 margin: opx;
      font-size: 45px;
padding: 0px;
}
h2{ margin: 0px;

    font-size: 40px;
    font-family: 'Baloo Bhaina 2', sans-serif;}
.city{
    width: 200px;
    margin: auto;
}
.humidwind{
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{ font-family: 'Baloo Bhaina 2', sans-serif;
    font-size: 1.2rem;
}
.sunrise{
    display: flex;
  
    justify-content: center;

    align-content: space-around;
    
    flex-direction: column;
}
.hour{
    display: flex;
 
}
